<table mat-table [dataSource]="marcas" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  ddddSDF
    <!-- Position Column -->
    <ng-container matColumnDef="cod_mrc">
      <th mat-header-cell *matHeaderCellDef> Codigo </th>
      <td mat-cell *matCellDef="let element"> {{element.cod_mrc}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nom_mrc">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_mrc}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  